<% content_for :title, "@piertutor | Home" %>
<% content_for :meta_description, "Camionista, Content Creator, Volvo Trucks Ambassador" %>

<%# HERO SECTION %>
<section class="relative h-[80vh] overflow-hidden lg:h-[95vh]">
  <!-- Image element positioned behind -->
  <img src="<%= asset_path("hero.webp") %>" alt="piertutor in posa davanti al suo camion" class="absolute inset-0 w-full h-full object-cover object-[50%_25%] lg:scale-130 lg:origin-left"/>
  
  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-gradient-to-b from-black/20 to-black md:bg-gradient-to-l md:from-black/50 md:to-black/90"></div>

  <div class="max-w-[1200px] mx-auto relative z-10 text-white pb-8 h-full flex flex-col justify-end lg:justify-center">
    <h1 class="archivo text-lg lg:text-4xl lg:mb-4">@piertutor</h1>
    <h2 class="text-2xl mb-4 lg:text-6xl lg:mb-8 lg:max-w-screen-md">Camionista, Content Creator, Volvo Trucks Ambassador</h2>
    <div class="flex gap-3">
      <button class="px-4 py-2 bg-brand text-black border-1 border-black shadow-[-4px_4px_0_0_#FFF] transition-all transition-150 hover:translate-x-[-4px] hover:translate-y-[4px] hover:shadow-none hover:cursor-pointer active:translate-x-[-4px] active:translate-y-[4px] active:shadow-none">Scopri di più</button>
      <button class="px-4 py-2 bg-white text-black border-1 border-black shadow-[-4px_4px_0_0_#FFF] transition-all transition-150 hover:translate-x-[-4px] hover:translate-y-[4px] hover:shadow-none hover:cursor-pointer active:translate-x-[-4px] active:translate-y-[4px] active:shadow-none">Contattami</button>
    </div>
  </div>
</section>

<%# HELLO SECTION %>
<section class="relative h-[80vh] lg:h-screen bg-[position:51%_25%] bg-cover" style="background-image: url('<%= asset_path("about.webp") %>')">
  <div class="absolute inset-0" style="background-color: rgba(0, 0, 0, 0.5);"></div>
</section>