<%# BANNER %>
<div class="relative h-64 md:h-128 w-full">
  <!-- Background Image -->
  <div class="absolute inset-0 bg-cover bg-bottom md:bg-center" style="background-image: url(<%= asset_path('driving.jpg') %>);"></div>

  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-black opacity-60"></div>

  <!-- Content -->
  <div class="relative flex flex-col justify-end items-center h-full text-center text-white p-8 gap-4">
    <h1 class="text-4xl md:text-6xl font-bold max-w-3xl">Prodotti Affiliati</h1>
  </div>
</div>