/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

* {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

::selection {
  background-color: #FFFF04;
  color: black;
}

.highlighted, .text-brand {
  color: #FFFF04 !important;
  background: none !important;
}

h1, h2, h3 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 span, h2 span, h3 span {
  font-family: inherit;
  font-weight: inherit;
}

.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.archivo-black{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Turbo progress bar */
.turbo-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #FFFF04;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}